- var repeats = 200
doctype 5
html
    head
        title Topcoat radop input base test
        link(rel='stylesheet', type='text/css', href='../../release/css/radio-input-base.min.css')
    body
        - while (--repeats > 0)
            input(type='radio').radio-input-base
